@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  width: 100%;
}

.authenticate-container {
  margin-top: 2rem;
  padding: 1rem 2rem;
  min-height: 20rem;
}

.authenticate-container .header {
  margin-bottom: 1rem;
}

.authenticate-container .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0rem 0.4rem;
}

.authenticate-container .actions .btn {
  background-color: #6886C5;
  color: #F9F9F9;
}

.authenticate-container .actions .g-btn {
  background-color: #f85b5b;
  color: #F9F9F9;
}

.authenticate-container .bottom-text {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header-bar {
  background-color: #6886C5 !important;
  -webkit-box-shadow: 0px 4px 14px -3px #d8d3cd;
          box-shadow: 0px 4px 14px -3px #d8d3cd;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.header-bar .tool-bar {
  border: 1px solid red;
  width: 50%;
}

.header-bar .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header-bar .profile .item {
  margin-left: 1rem;
}

.header-bar h6 {
  color: #FFACB7;
  font-family: "Lobster", cursive;
  font-size: 3em;
  margin-left: 2rem;
}

.header-bar a {
  color: #F9F9F9;
  text-decoration: none;
}

.bottom-bar {
  background-color: #FFE0AC !important;
  -webkit-box-shadow: 2px -5px 34px 0px #FFE0AC !important;
          box-shadow: 2px -5px 34px 0px #FFE0AC !important;
  border: 4px solid #FFE0AC;
}

.bottom-bar .round-btn {
  background-color: #6886C5;
  -webkit-box-shadow: 0px 0px 0px 5px #F9F9F9;
          box-shadow: 0px 0px 0px 5px #F9F9F9;
}

.bottom-bar .round-btn:hover {
  background-color: #6886C5;
}

.bottom-bar .round-btn .add-icon {
  color: #FFACB7;
  font-size: 3rem;
}

.form-wrapper .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.form-wrapper .item:nth-child(1) {
  margin-top: 0.5rem;
}

.form-wrapper .btn-1 {
  background-color: #6886C5;
  color: #F9F9F9;
}

.form-wrapper .btn-1:hover {
  background-color: #6886C5;
  color: #F9F9F9;
}

.form-wrapper .btn-2 {
  border: 1px solid #FFE0AC;
  color: #FFE0AC;
}

.post-container {
  min-height: 150vh;
  padding: 0 1rem;
  margin: 0 0.8rem;
}

.post-container .side-box {
  padding: 0.4rem;
}

.post-container .side-box .paper {
  min-height: 17rem !important;
  padding: 0.8rem;
  -webkit-box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px !important;
}

.post-container .side-box .paper .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2rem;
}

.post-container .side-box .paper .btn-box .btn-1 {
  background-color: #6886C5;
}

.post-container .side-box .paper .btn-box .btn-2 {
  background-color: #FFACB7;
}

.post-main-grid {
  margin-top: 1.5rem !important;
}

.post-box-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-box-grid .post-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 !important;
}

.post-box-grid .post-grid .post-card {
  width: 20rem;
  margin-top: 1rem;
}

.post-box-grid .post-grid .card-body {
  height: 26rem;
  -webkit-box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px !important;
}

.post-box-grid .post-grid .card-body .card-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
}

.post-box-grid .post-grid .card-Header {
  background-color: #6886C5;
  color: #F9F9F9;
}

.post-box-grid .post-grid .card-Header .icon {
  color: #FFACB7;
}

.post-box-grid .post-grid .szh-menu-button {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
}

.post-box-grid .post-grid .szh-menu {
  color: black;
}

.post-box-grid .post-grid .szh-menu .szh-menu__item {
  padding: 0.4rem 1rem !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.post-box-grid .post-grid .szh-menu .szh-menu__item:hover {
  background-color: none !important;
}

.post-box-grid .post-grid .card-content {
  border-top: 1px solid rgba(0, 0, 0, 0.226);
}

.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment-container h6 {
  margin-left: 2rem;
}

.comment-container .comments-inner-container {
  height: 200px;
  width: 25rem;
  overflow-y: auto;
  margin-left: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.205);
  padding: 0.4rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -webkit-box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.1) !important;
}

.comment-container .btn {
  background-color: #6886C5;
  color: #F9F9F9;
}

.recommended-section {
  margin-top: 1rem;
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
  .post-card {
    width: 18rem !important;
  }
  .card-body {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 785px) {
  .card-body {
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */